{% load static %}
<head>
    <title>CareCaca</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/games.css' %}">
    <link rel="shortcut icon" href="../static/Img/Icon.ico" type="image/x-icon"/>
    <title>Registrate</title>
    
</head>
    <title>Registrate</title>
    <style>
        body {background-color: teal;}
        h1 {color: rgb(0, 0, 0);}
        h2 {color: black; background-color: lightblue;border: 2px solid blue;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
        
    </style>




<center><h2>Sala de espera</h2></center>

{{sesion.sesion_code}}