{% load static %}

<html>
    <head>
        <title>CareCaca</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="shortcut icon" href="../static/Img/Icon.ico" type="image/x-icon"/>
    </head>
    <body>
        <body>
            <h1>Care Caca Online </h1>
            <div class="card">
                <div style="text-align: center;">
                    <img src="../static/Img/logo.png">
                </div>
              <ul class="list-group list-group-flush">
                {% if not user.is_authenticated %}
                <li class="list-group-item">
                  <a href="{% url 'home' %}"><div> Iniciar Sesión</div></a>
                </li>
                <li class="list-group-item">
                  <a href="{% url 'signup' %}"><div>Registrarse</div></a>
                </li>
                {% else %}
                <li class="list-group-item">
                  <a href="{% url 'logout' %}"><div>Cerrar sesión</div></a>
                </li>
                {% endif %}
              </ul>
              {% if user.is_authenticated %}
              <h2>Bienvenido {{ user.username }}</h2>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <a href="{% url 'games' %}">Buscar Partida</a>
                </li>
                <li class="list-group-item">
                  <a href="{% url 'game' %}">Crear Partida</a>
                </li>
              </ul>
              {% endif %}
            </div>
          </body>
    </body>
</html>

