body{
    background: url("https://images.freeimages.com/images/large-previews/ffe/poker-cards-1312799.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.card{
    font-size: 150%;
    margin: auto;
    width: 30%;
    padding: 10px;
    text-align: center;
    background-color: rgb(0, 12, 12);
    color: blanchedalmond;
}
.card-text{
    font-size: 50%;
    color: blanchedalmond;
    text-align: center;
    
}