body{
    background: url("https://images.freeimages.com/images/large-previews/ffe/poker-cards-1312799.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
